.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  margin: 10px;
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #f5f5f5;
}

.alerts {
  margin: 10px 20px 10px 20px;
  text-align: left;
  min-height: 50px;
}

.clickedObject {
  background: #f1f1f1;
  font-size: 0.8em;
  padding: 0.5em;
}

.alert-title {
  margin: 0.5em 0em;
  color: #999;
  max-height: 200px;
  overflow: auto;
}

.alert-note {
  font-size: 0.7em;
}

.alert-title-data {
  color: #333;
  word-break: break-all;
}